.css-component-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.css-component-controls label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #6b7280;
  background-color: #fff5bb;
}

.css-component-controls.invalid-mail {
  color: #dd2c2c;
  border: 1px solid #f73f3f;
  padding: 0.5rem;
  border-radius: 4px;
}
